.content{
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 20px;
    justify-content: space-around;
}
.h1{
    text-align: center;
}
.parent{
    flex-direction: column;
    width: 350px; 
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 20px; 
}
.child{
    max-width: 200px;
}
.image{
    width: 350px;
    height: 250px;
}
.less{
    color: aqua;
      }
span {
    font-size: 15px;
    margin-bottom: 10px;
  }
button:hover {
    background-color: aqua;
    color: white;
  }
  button {
    width: 230px;
    margin: 20px;
    padding: 8px 16px;
   color: aqua;
    border: 1px,solid, aqua;
  }
  .text{
    font-size: 15px;
  }
  .h2{
    font-size: 20px;
  }